<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container mt-5">
		<h2 th:text="${title}"></h2>
		
		<form th:action="@{/create}" th:object="${client}" method="post" enctype="multipart/form-data">
			<table>
				<tr>
					<td> Nombre </td>
					<td> <input class="form-control" type="text" th:field="*{name}" /> </td>
					<td> <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p> </td>
				</tr>
				<tr>
					<td> Apellido </td>
					<td> <input class="form-control" type="text" th:field="*{lastName}" /> </td>
					<td> <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p> </td>
				</tr>
				<tr>
					<td> Email </td>
					<td> <input class="form-control" type="email" th:field="*{email}" /> </td>
					<td> <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p> </td>
				</tr>
				<tr>
					<td> Foto </td>
					<td> <input class="file-input" type="file" name="file"/> </td>
					<td> <p class="text-danger" th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></p> </td>
				</tr>
				<tr>
					<td> <button class="btn" type="submit">Guardar</button> </td>
				</tr>
			</table>
		</form>
		
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>