<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="${title}"></title>
	</head>
	<body>
		<h2 th:text="${title}"></h2>
		
		<table>
			<thead>
				<tr>
					<th> ID </th>
					<th> Name </th>
					<th> Last name </th>
					<th> Email </th>
					<th> Date </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="client: ${clients}">
					<td th:text="${client.id}"></td>
					<td th:text="${client.name}"></td>
					<td th:text="${client.lastName}"></td>
					<td th:text="${client.email}"></td>
					<td th:text="${client.createdAt}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>