<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="container mt-5">
		<h2 th:text="${title}"></h2>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Last name</th>
					<th>Email</th>
					<th>Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="client: ${clients}">
					<td> <a th:href="@{/view/}+${client.id}" th:text="${client.id}"></a> </td>
					<td th:text="${client.name}"></td>
					<td th:text="${client.lastName}"></td>
					<td th:text="${client.email}"></td>
					<td th:text="${client.createdAt}"></td>
					<td> 
						<a class="btn btn-primary btn-xs" th:href="@{/edit/}+${client.id}">Edit</a>
						<a class="btn btn-danger btn-xs" th:href="@{/delete/}+${client.id}">Delete</a> 
					</td>
				</tr>
			</tbody>
		</table>
		<nav th:replace="paginator-nav :: paginator"></nav>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>